<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary" data-bs-theme="dark" xmlns="http://www.w3.org/1999/html" id="navFixed">
    <div class="container-fluid">
        <div class = "navbar-brand d-flex flex-row">
            <a class = "navbar-brand" href="/"><img id="logo" src="/static/logo2.jpg" alt="Icono de la pagina redirige a index"></a>

        </div>
        <div class="container justify-content-md-center" id="containerBuscadorLol">
            <div class="row input-group justify-content-md-center" id="buscador">


                <div class="box">
                    <select id ="region" aria-label="Filtro de búsqueda">
                        <option selected value="euw">EUW</option>
                        <option value="na">NA</option>
                        <option value="kr">KR</option>
                        <option value="lan">LAN</option>
                        <option value="las">LAS</option>
                        <option value="ch">CH</option>
                    </select>
                    <input autocomplete="off" onsubmit="buscar()" class="inputLeague" id="caja-buscar" name="nombreInvocador" type="search" placeholder="Buscar Invocador" style="background-image: url('/static/zoom-out.png');" >
                    <!-- <i class="fas fa-search"></i> -->

                </div>
                

            </div>
            <input style="display:none" id="buscar" class="btn btn-outline-success col-4" type="submit">
            <!-- <div class="box">
                <form name="search">
                    <input type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();" id="caja-buscar">
                </form>
                <i class="fas fa-search"></i>

            </div> -->


        </div>
    </div>

    </div>

</nav>




