

.sidebarList li {
    margin-bottom:0px !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0 !important;
  }
  
  li {
    background-color: #333;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    margin: 0;
    padding: 0px !important;
  }
  
  /* li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  } */
  
  ul, li p {
      color:white;
  }
  
  li:hover {
    background-color: #444;
    /* box-shadow: 0 0 5px #fff;*/
    box-shadow: 0 0 5px #6610f2 ;
  }

  /* .campeonImagen {
    margin-right: 10px;
    border-radius: 50%;
    background-color: #eee;
  } */

input::placeholder {
    color: transparent;
    transition: color 1s ease;
    /* text-align: center; */
    font-size: 22px;
}

input:hover::placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
}

input:hover {
    width: 350px !important;
    /* background: #3b3640; */
    border-radius: 10px;
    height: 60px !important;
    background: #3b3640;
    border-radius: 10px;
    /* background-image: none !important; */
    color: white;
    border: 4px solid #6610f2;
    background-size: 30px 30px !important;
    background-repeat: no-repeat !important ;
    background-position: right !important;
}

.chart {

  border-radius: 50%;
  width: 17%;
  height: 72%;
  margin-top: 3%;
  margin-left: 2%;
  
}

.fondoLol{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: transparent;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;

  background-attachment: fixed;
  background-image: url('../../static/fondoLogged.jpg');
}

.fondoLol::before {
  content: "";
  z-index: 2;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.5) 70%);
}